# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# Mac litter
.DS_Store


.config/
.local/

out/
models/*.rds

posteriors/QALY_loss_sims_*.csv

